<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>後台</title>
</head>
<body>
    Hello, boss <%= account%>
    <br>
    <a href="/update/<%= account%>">減少血量</a><br>
    <a href="/team">小隊加分</a>
</body>
</html>